<section class="header">
  <div class="container">
    <div class="header__container">
      <p>Welcome to our online shop</p>
      <nz-select class="header__select" ngModel="en" nzBorderless>
        <nz-option nzValue="en" nzLabel="English (US)"></nz-option>
        <nz-option nzValue="ru" nzLabel="Russian (RU)"></nz-option>
      </nz-select>
      <div class="header__buttons-wrap">
        <button class="header__button" nz-button nzType="text"><span nz-icon nzType="login" nzTheme="outline"></span>Login</button>
        <button class="header__button" nz-button nzType="text"><span nz-icon nzType="logout" nzTheme="outline"></span>Sign up</button>
      </div>
    </div>
  </div>
</section>

