$background-green: #7AC751;
$background-white: #fff;
$background-skyBlue: #00B7F1;
$background-red: #FF6868;;
$color-black: #555555;
$color-dark-black: #11142D;
$color-grey: #B0B0B0;
$color-white: #fff;
$color-green: #7AC751;
$color-dark-grey: #515151;
$color-white-grey: #ccc;
