@mixin font_39 {
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  line-height: 120%;
  letter-spacing: 0.005em;
}

@mixin font_36 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}

@mixin font_24 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

@mixin font_20 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

@mixin font_18 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
}

@mixin font_16 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
}

@mixin font_14 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@mixin font_12 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

@mixin font_7 {
  font-style: normal;
  font-weight: 500;
  font-size: 7px;
  line-height: 26px;
}



